.App {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  border-radius: 10px;
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #1d2020 !important;
  color: whitesmoke !important;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
